@model IEnumerable<Przychodnia.Data.Data.CMS.Page>

@{
    ViewData["Title"] = "Strony";
}

<h1>Strony</h1>

<p>
    <form method="post">
        <button class="btn btn-primary" asp-action="Create">Utwórz nowy</button>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LinkTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LinkTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>*@
                    <form method="post">
                        <button class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edytuj</button>
                    </form>
                    <form method="post">
                        <button class="btn btn-warning" margin:10px asp-action="Details" asp-route-id="@item.Id">Szczegóły</button>
                    </form>
                    <form method="post">
                        <button class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Usuń</button>
                    </form>
                </td>
        </tr>
}
    </tbody>
</table>
