@model IEnumerable<Przychodnia.Database.Data.CMS.Feed>

@{
	ViewData["Title"] = "Aktualności";
}

<h1>Aktualności</h1>

<p>
	<a class="btn btn-success" asp-action="Create">Dodaj</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Content)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Priority)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Icon)
			</th>
			<th>
				Grafika ikony
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Content)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Priority)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Icon.Name)
				</td>
				<td>
					<i class="material-icons">@item.Icon.Name</i>
				</td>
				<td>
					<a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
					<a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
				</td>
			</tr>
		}
	</tbody>
</table>
