@model IEnumerable<Przychodnia.Data.Data.CMS.Page>

<div class="nav-wrapper container">
    <a id="logo-container" href="@Url.Action("Index","Home", new {id=1})" class="brand-logo">MEDICA</a>
    <ul class="right hide-on-med-and-down">
@*        <li>@Html.ActionLink("Placówki","Facilities","Home")</li>
        <li>@Html.ActionLink("Cennik","Pricelist","Home")</li>
        <li>@Html.ActionLink("O nas","About","Home")</li>*@
        @foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.LinkTitle,"Index","Home", new {id=item.Id}, null)
            </li>
        }
    </ul>

    <ul id="nav-mobile" class="sidenav">
        @foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.LinkTitle,"Index","Home", new {id=item.Id}, null)
            </li>
        }
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
</div>


